.titleText {
	color: #A9F5F2;
	fill: white;
	font-family: Arial;
	font-size: 25px;
	line-height: 25px;
	font-weight: bold;
	margin-bottom: 8px;
	text-shadow: 4px 1px 4px #FF0099;
	float: center
}

.axisText {
	color: #A9F5F2;
	fill: white; 
	font-family: Arial;
	font-size: 20px;
	line-height: 25px;
}

.axisTicks {
	color: #A9F5F2;
	fill: white; 
	font-family: Arial;
	font-size: 15px;
	line-height: 1px;
}

.netSending {
	color: #FF3366;
	fill: #FF3366; 
	font-family: Arial;
	font-size: 18px;
	line-height: 18px;
}

.legendWhite {
	color: #FF3366;
	fill: white; 
	font-family: Arial;
	font-size: 18px;
	line-height: 18px;
}

.legendGray {
	color: #FF3366;
	fill: #C8C8C8; 
	font-family: Arial;
	font-size: 18px;
	line-height: 18px;
}

.legendUSA {
	color: #99FF00;
	fill: #33FFCC; 
	font-family: Arial;
	font-size: 20px;
	line-height: 18px;
}

.rectText {
	color: #99FF00;
	fill: white; 
	font-family: Tahoma;
	font-size: 14px;
	line-height: 15px;

}

.attribText {
	color: #99FF00;
	fill: #33FFCC; 
	font-family: Arial;
	font-size: 16px;
	line-height: 18px;
	font-style: italic;
}

.netReceiving {
	color: #A9F5F2;
	fill: #A9F5F2; 
	font-family: Arial;
	font-size: 18px;
	line-height: 25px;
}

